/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0D1117;
  color: #C9D1D9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Container principal */
.container {
  display: flex;
  align-items: center;
}

/* Seção de introdução */
.intro-section {
  text-align: center;
  margin-right: 2rem;
}

/* Título */
.greeting {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Cor do símbolo HTML */
.html-tag {
  color: #EBA417;
}

/* Nome */
.name {
  color: #3B82F6;
}

/* Container dos botões */
.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

/* Botões */
.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 0.8rem; /* Ajuste do padding horizontal */
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  max-width: 200px;
  text-align: center;
  min-width: 100px; /* Define largura mínima */
}

.button.sobre {
  background-color: #FFC300;
}

.button.projetos {
  background-color: #FF5733;
}

.button.experiencias {
  background-color: #4DB8FF; /* Cor para "Experiências" */
}

.button.contate {
  background-color: #75DA8B;
}


/* Estilos da imagem */
.image-container {
  width: 320px; /* Dobro do tamanho original (200px) */
  height: 320px; /* Dobro do tamanho original (200px) */
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
