
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0D1117;
  color: #C9D1D9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}


.intro-section {
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row; 
    text-align: left;
  }

  .intro-section {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}


.greeting {
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .greeting {
    font-size: 2.5rem;
  }
}


.html-tag {
  color: #EBA417;
}


.name {
  color: #3B82F6;
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}


.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  max-width: 200px;
  text-align: center;
  min-width: 100px;
}

.button.sobre {
  background-color: #FFC300;
}

.button.projetos {
  background-color: #FF5733;
}

.button.experiencias {
  background-color: #4DB8FF;
}

.button.contate {
  background-color: #75DA8B;
}

@media (min-width: 768px) {
  .button {
    padding: 0.8rem 1rem; 
    font-size: 1.1rem;
  }
}


.image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem; 
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .image-container {
    width: 320px;
    height: 320px;
    margin-bottom: 0; 
  }
}